<div class="row row-cols-3">
    <a href="" style="text-decoration: none;"><div class="card imgcard1 commoncard col" style="width: 20rem;">
        
        <div class="card-body">
            <h2 class="card-text">Residences</h2>
        </div>
    </div></a>
    <a href="" style="text-decoration: none;"><div class="card imgcard2 commoncard col" style="width: 20rem;">
        
        <div class="card-body">
            <h2 class="card-text">Institutions</h2>
        </div>
    </div></a>
    <a href="" style="text-decoration: none;"><div class="card imgcard3 commoncard col" style="width: 20rem;">
        
        <div class="card-body">
            <h2 class="card-text">Local Council</h2>
        </div>
    </div></a>
    <a href="" style="text-decoration: none;"><div class="card imgcard4 commoncard col" style="width: 20rem;">
        
        <div class="card-body">
            <h2 class="card-text">Government</h2>
        </div>
    </div></a>
    <a href="" style="text-decoration: none;"><div class="card imgcard5 commoncard col" style="width: 20rem;">
        
        <div class="card-body">
            <h2 class="card-text">IT Companies</h2>
        </div>
    </div></a>
    <a href="" style="text-decoration: none;"><div class="card imgcard6 commoncard col" style="width: 20rem;">
        
        <div class="card-body">
            <h2 class="card-text">ReMarketing</h2>
        </div>
    </div></a>
</div>
