<footer >
  <div class="footer-container innerfooter">
      <div class="footer-section about">
          <h1>EcoDrop</h1>
          <p>Where sustainability meets <br>
             responsible recycling.</p>
      </div>
      
      <div class="footer-section links">
          <h2>Helpful Links</h2>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/mission">Mission</a></li>
              <li><a href="/team">Team Detials</a></li>
              <li><a href="/partner">Partnership</a></li>
              <li><a href="/business">Business E-Waste</a></li>
              <li><a href="/residence">Residence E-Waste</a></li>

          </ul>
      </div>

      <div class="footer-section contact">
          <h2>Get in Touch</h2>
          <ul>
              <li><i class="fa fa-envelope"></i> info@ecodrop.com</li>
              <li><i class="fa fa-envelope"></i> ecodrop.gogreen@gmail.com</li>
              <li><i class="fa fa-phone"></i> (+91) 8688470635</li>
              <li><i class="fa fa-phone"></i> Support Team: 9am - 5pm</li>
          </ul>
      </div>

      <div class="footer-section social">
          <h2>Connect with Us</h2>
          <ul>
              <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i> YouTube</a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
          </ul>
      </div>
  </div>
  <div class="footer-bottom">
      <p>&copy; 2024 EcoDrop Private Limited | All Rights Reserved</p>
  </div>
</footer>
<!-- <style>
  .innerfooter ,.footer-bottom{
    background-color: lightgray!important;
  }
</style> -->