<div class="row row-cols-3">
    <div class="card col servicecard" style="width: 20rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <i class="fa-solid fa-bus servicecardicon"></i>
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium; 
          text-align: center;">Business Recycling Pickup</h5>
          <p class="card-text" style="font-size: small; 
          text-align: center;">Schedule a hassle-free business electronics recycling or Styrofoam recycling pickup to clear up your facility’s office space, IT Closet/Room, or datacenter.</p>
        </div>
    </div>
    <div class="card col servicecard" style="width: 20rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <i class="fa-solid fa-building servicecardicon"></i>
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium; 
          text-align: center;">Building Wide Pickup</h5>
          <p class="card-text" style="font-size: small; 
          text-align: center;">Sponsor a building-wide recycling event for your tenants, all they need to do is to sign up and wait for our crew to collect their equipment.</p>
        </div>
    </div>
    <div class="card col servicecard" style="width: 20rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <i class="fa-solid fa-dumpster-fire servicecardicon"></i>
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium; 
          text-align: center;">Drop Off Recycling</h5>
          <p class="card-text" style="font-size: small; 
          text-align: center;">Contactless drop-off recycling process that provides the community an easy and affordable way to responsibly recycle electronics and Styrofoam.</p>
        </div>
    </div>
    <div class="card col servicecard" style="width: 20rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <i class="fa-solid fa-dumpster-fire servicecardicon"></i>
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium; 
          text-align: center;">Drop Off Recycling</h5>
          <p class="card-text" style="font-size: small; 
          text-align: center;">Contactless drop-off recycling process that provides the community an easy and affordable way to responsibly recycle electronics and Styrofoam.</p>
        </div>
    </div>
    <div class="card col servicecard" style="width: 20rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <i class="fa-solid fa-hard-drive servicecardicon"></i>
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium; 
          text-align: center;">Hard Drive Data Destruction</h5>
          <p class="card-text" style="font-size: small; 
          text-align: center;">Data destruction service follows national standards for erasure and sanitization that will permanently destroy the data on your device.</p>
        </div>
    </div>
    <div class="card col servicecard" style="width: 20rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <i class="fa-solid fa-gears servicecardicon"></i>
        <div class="card-body">
          <h5 class="card-title" style="font-size: medium; 
          text-align: center;">Product Destruction</h5>
          <p class="card-text" style="font-size: small; 
          text-align: center;">Materials are separated, destroyed, and recycled under close oversight and evidence of destruction is provided for assurance.</p>
        </div>
    </div>
</div>
