<div class="row row-cols-3 cardDisplay">
    <div  style="display: flex; width: 20rem;" class="usescard wholeCard">
        <i class="fa-solid fa-clipboard icon"></i>
        <div class="usescard">
            <h5 class="card-title">Compliance</h5>
            <p class="card-text">Our systems are fully accredited and regularly audited to ISO 14001:2015 and AS/NZ 5377:2013.</p>
        </div>
    </div>
    <div  style="display: flex; width: 20rem;" class="usescard wholeCard">
        <i class="fa-solid fa-file-shield icon"></i>
        <div class="usescard">
            <h5 class="card-title">Data Security</h5>
            <p class="card-text">Serialised data destruction reports ensure compliance with your organizations privacy and data management obligations.</p>
        </div>
    </div>
    <div  style="display: flex; width: 20rem;" class="usescard wholeCard">
        <i class="fa-solid fa-mobile-screen icon"></i>
        <div class="usescard">
            <h5 class="card-title">Mobile Devices</h5>
            <p class="card-text">Tailored solutions to meet your needs including secure wiping and destruction or remarketing of your mobile devices.</p>
        </div>
    </div>
    <div  style="display: flex; width: 20rem;" class="usescard wholeCard">
        <i class="fa-solid fa-trash-can icon"></i>
        <div class="usescard">
            <h5 class="card-title">Asset Recovery</h5>
            <p class="card-text">We follow industry best practice to optimize outcomes and reduce disposal costs for IT Assets, Enterprise Equipment & Mobile Technology.</p>
        </div>
    </div>
    <div  style="display: flex; width: 20rem;" class="usescard wholeCard">
        <i class="fa-solid fa-recycle icon"></i>
        <div class="usescard">
            <h5 class="card-title">Local Processing</h5>
            <p class="card-text">Your e-waste is processed right here in Perth, WA and not shipped across the country or overseas.</p>
        </div>
    </div>
    <div  style="display: flex; width: 20rem;" class="usescard wholeCard">
        <i class="fa-solid fa-tv icon"></i>
        <div class="usescard">
            <h5 class="card-title">Superior Reporting</h5>
            <p class="card-text">With a fully auditable downstream, we provide our customers the data to make informed decisions with our comprehensive reporting.</p>
        </div>
    </div>
</div>