<% layout("/layouts/boilerplate.ejs") %>
<div class="ourmission">

</div>
<div class="missiondiv">
    <div class="side-nav mt-5">
        <h4 class="mb-2 title"><a href="/" 
            class="side-nav-title">
            EcoDrop</a></h4>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/mission">Mission</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/residence">Residence</a></li>
            <li><a href="/business">Business</a></li>
            <li><a href="/partner">Partner</a></li>
        </ul>
        <hr class="divider">
        <div class="office-info">
            <h4>OFFICE</h4>
            <p><strong>Address</strong><br>
            Cheeryal Kaman<br>
            GCET B.tech clg<br>
            INDIA</p>
            <p><strong>Contact</strong><br>
            (+91) 8688470635<br>
            <a href="/">ecodrop@gmail.com</a></p>
        </div>
        <div class="vertical-line2"></div>
    </div>
    <div class="col mt-5 mission-info">
        <h2 style="color: black;">Our Mission</h2>
        <p>At EcoDrop, it is our mission to revolutionize the way the world is
             dealing with electronic waste through inculcation of a sustainable and 
             responsible culture. Due to rapid technological advancement, the 
             environmental impact of technology creation and disposal has reached an 
             alarming level.
            The impact of discarded electronics is an ever-growing concern. We are 
            committed to be at the forefront in this fight against e-waste by:
            It offers innovative solutions that will manage waste but also contribute 
            to having a circular economy where materials are used again for other 
            purposes.</p>
        <h3 class="mt-5">The Challenge of E-Waste</h3>
        <p>
            Nowadays, in modern times of the digital era, it is difficult to imagine 
            life without electronic devices. However, these devices have relatively 
            short life spans which eventually add up into a shocking amount of ewaste.
             If unmanaged, such wastes will pose greater problems in the future.
            can release harmful toxins into the environment, affecting both the
            planet and public health. At [Your Website Name], we recognize the
            This depicts the urgency with which this issue should be addressed. 
            It is not just a matter of providing a convenient method of disposal 
            for e-waste; we aim to fundamentally change the way communities think 
            about their old electronics.
        </p>
        <h3 class="mt-5">Empowering Our Partners</h3>
        <p>
            Our mission goes beyond serving the individual users, we are
            committed to supporting the e-waste facilities that make our work
            possible. We provide these facilities with the tools and resources
            They have to scale up their operations and reach out for more people. 
            Visibility is what we give them through our platform, putting them in 
            touch with prospective customers and partners who also care for 
            sustainability.
            By virtue of the network, a strong assemblage of e-waste management 
            professionals will emerge to bring positive impacts on natural
             environments.
        </p>
    </div>
</div>