<% layout("/layouts/boilerplate.ejs") %>

<div class="partnerimg">
    <h1>EcoDrop Partner <br>Program</h1>
    <h4>Join our E-Waste Recycling Network</h4>
    <a href="/partnerform"><button type="submit" class="btn btn-outline-light">Join Us Today!</button></a>
    <a href="/history"><button type="submit" class="btn btn-outline-light" style="margin-left:0">My History</button></a>
</div>
<div class="partnerinfo">
    <h3 class="mt-3">The EcoDrop Partner Program takes care of all your recycling needs. 
        This saves you time, money, and hassle.</h3>
    <h6 class="mt-3">Why Partner with Us?</h6>
    <p class="mt-3 mb-5">At EcoDrop, we are committed to creating a sustainable 
        future by making e-waste recycling accessible to everyone. 
        Our platform connects individuals and businesses with certified 
        e-waste recycling facilities, helping to reduce electronic waste 
        in our communities. By partnering with us, your facility will gain 
        visibility, increase customer reach, and contribute to a greener planet.</p>
    <h6 class="mb-4 mt-5">Benefits of Partnering with Us</h6>
    <p>
        Get your facility listed on our platform, which is visited by thousands of users seeking e-waste 
        recycling services. Connect with individuals and businesses in your area looking for reliable recycling 
        solutions. Connect with individuals and businesses in your area looking for reliable recycling solutions.
        Join a network of environmentally conscious partners dedicated to reducing the impact of e-waste on 
        our planet. Gain access to educational resources and tools to help you promote your services and educate your community on the
         importance of e-waste recycling. Build trust with customers by being associated with a reputable platform that prioritizes sustainability and responsible 
         recycling.
    </p>    
</div>
<div class="partnerimg2">
    <h3>Ready to Join our Network?</h3>
    <p>Lets begin your registration and become part of a growing network of e-waste recycling 
        facilities dedicated to making a difference.</p>
    <p>Register here!</p>
    <div style="text-align: center;">
        <a href="/partnerform"><button class="btn btn-outline-dark">Contact Us</button></a>
    </div>
</div>