<% layout("/layouts/boilerplate.ejs") %>
<div class="serve" style="margin-bottom: 3rem;">
    
</div>
<div class="ourservices">
    <h2 class="servicetitle">Our Services</h2>
    <!-- <hr> -->
</div>
<div class="servicescard">
    <%- include("../includes/servicecard.ejs") %>
</div>