<% layout("/layouts/boilerplate.ejs") %>
<div class="container-custom1" style="height: auto;">

    <div class="side-nav">
        <h4 class="mb-2 title"><a href="/" 
            class="side-nav-title">
            EcoDrop</a></h4>
        <ul class="nav-list">
            <li><a href="/">HOME</a></li>
            <li><a href="/mission">MISSION</a></li>
            <li><a href="/team">TEAM</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/residence">RESIDENCE</a></li>
            <li><a href="/business">BUSINESS</a></li>
            <li><a href="/partner">PARTNER</a></li>
        </ul>
        <hr class="divider">
        <div class="office-info">
            <h4>OFFICE</h4>
            <p><strong>Address</strong><br>
            Cheeryal Kaman<br>
            GCET B.tech clg<br>
            INDIA</p>
            <p><strong>Contact</strong><br>
            (+91) 8688470635<br>
            <a href="/">ecodrop.gogreen@gmail.com</a></p>
        </div>
        <div class="vertical-line" style="height:130%;"></div>
    </div>
    <div class="team" style="width: 100%; margin-left: 8rem;">
        <div class="row row-cols-2">
            <div class="card mb-3 col" style="max-width: 350px; height: 350px; padding: 2rem; border: none;" >
                <img src="/images/ourTeam/shiva.jpg" class="img-fluid" style="border-radius: 50%; height: 250px; width: 100%;" alt="...">
            
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">N Shiva Shankar</h5>
                    <p class="card-text"> [21R11A66H6] <br>MERN Stack Developer </p>
                </div>
            </div>
            <div class="card mb-3 col" style="max-width: 350px; height: 350px; padding: 2rem; border: none;" >
                <img src="/images/ourTeam/vamshi.jpg" class="img-fluid" style="border-radius: 50%; height: 250px; width: 100%;" alt="...">
            
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">T Krishna Vamshi</h5>
                    <p class="card-text"> [21R11A66J8] <br>UI UX Designer</p>
                </div>
            </div>
        </div>
    </div>
</div>